<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />


    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">




    <script type="text/javascript" src="{{ asset('bundles/js/tableSort.js')}}"></script>

    <script src="{{ asset('bundles/bootstrap/js/jquery.js') }}" >

    </script>
    <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}" >

    </script>


    {% block stylesheets %}{% endblock %}

    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <style type="text/css">

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {

            background-color: lightgray;
        }
        th {
            cursor: pointer;
        }
    </style>
</head>
<body style="background-image: url({{ asset('bundles/images/backgroundLogin3.jpg') }}); background-size: cover;">
<script type="text/javascript">


    $(document).ready(function() {

        var lid=localStorage.getItem('linkId');




            if ($('#'+lid).hasClass('active')) {
                $('#'+lid).removeClass('active');

            }
            else {
                $('#'+lid).addClass('active').siblings().removeClass('active');

            }


    });
    function lien(id)
    {
        localStorage.setItem('linkId',id);
    }
</script>

    <nav class="navbar navbar-default" style="vertical-align:  top;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">SebCom</a>
            </div>
            <ul class="nav navbar-nav"  id="menu" >
                <li id="home" onclick="lien(this.id)"><a href="/menu">&nbsp;&nbsp;&nbsp; Accueil &nbsp;&nbsp;&nbsp;</a></li>
                <li id="ac" onclick="lien(this.id)"><a href="/ajoutcat" >Gestion Catégories</a></li>
                <li id="aa" onclick="lien(this.id)"><a href="/ajoutarticle">Gestion Articles</a></li>
                <li id="gc" onclick="lien(this.id)"><a href="gestioncommande">Gestion Commandes</a></li>
                <li id="al" onclick="lien(this.id)"><a href="/ajoutlivreur">Gestion Livreurs</a></li>
                <li id="pr" onclick="lien(this.id)"><a href="/promotion">Gestion Promotion</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if name is defined %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ name }}</a></li>
                {% endif %}
                <li><a id="login" href="/login" onclick="lien('home')" ><span class="glyphicon glyphicon-log-in"; style="padding: 2px" ></span>Déconnexion</a></li>
            </ul>
        </div>

    </nav>



</body>
{% block body %}{% endblock %}

</html>
