<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">

    <script src="{{ asset('bundles/bootstrap/js/jquery.js') }}" ></script>

    <script src=" {{ asset('bundles/bootstrap/js/bootstrap.min.js') }}" ></script>

    {% block stylesheets %}{% endblock %}
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body style="background-image: url({{ asset('bundles/images/backgroundMenu2.jpg') }}); background-size: cover;">


    <nav class="navbar navbar-default" style="vertical-align: top;position:fixed;width: 100%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SebCom</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">&nbsp;&nbsp;&nbsp; Home &nbsp;&nbsp;&nbsp;</a></li>

                <li><a href="/ajoutcat">Gestion Catégories</a></li>
                <li><a href="/ajoutarticle">Gestion Articles</a></li>
                <li><a href="#">Gestion Commandes</a></li>
                <li><a href="/ajoutlivreur">Gestion Livreurs</a></li>



            </ul>
            <ul class="nav navbar-nav navbar-right">

                {% if name is defined %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{ name }}</a></li>
                {% endif %}
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
            </ul>
        </div>

    </nav>



</body>
{% block body %}{% endblock %}
</html>
