<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />




    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">

    <script src="{{ asset('bundles/bootstrap/js/jquery.js') }}" ></script>

    <script src=" {{ asset('bundles/bootstrap/js/bootstrap.min.js') }}" ></script>

    {% block stylesheets %}{% endblock %}
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body style="background-image: url({{ asset('bundles/images/backgroundMenu2.jpg') }}); background-size: cover;">
{% block body %}{% endblock %}
</body>
</html>
