{% extends 'navbar.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/Style/StyleFileAjoutCat.css') }}">
    <link rel="icon" href="{{ asset('bundles/images/Slogo.png') }}">

{% endblock %}
{% block body %}


    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/js/InputTest.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/js/pageFunctions.js')}}"></script>
        <script type="text/javascript">



            $(document).ready(function() {




                $("#btnModif").click(function(){


                    var rowValues=[];

                    $('.bg-primary').children().each(function() {

                        var val = $(this).html();
                        rowValues.push(val);


                    });

                    var nom=rowValues[0].toString();

                   if(nom.indexOf("&")>=0)
                  nom=nom.substr( nom.lastIndexOf(';')+1);


                    $('#mnomCat').val(nom);
                    $('#msel1').val(rowValues[1]);


                });



            });



        function act()
{


   var url='{{ path("categorie_delete", {'id':'rowVal' }) }}';

    url = url.replace("rowVal", rowId);

    document.getElementById("btnConfirm").setAttribute("href",url);

}

        function act2()
{


            var url='{{ path("categorie_modifier", {'id':'rowVal' }) }}';

            url = url.replace("rowVal", rowId);

            document.getElementById("mbtnAjt").setAttribute("href",url);

            /*** action ***/
            var act='/modifiercat/rowVal';

            act=act.replace("rowVal", rowId);

            document.getElementById("f2").setAttribute("action",act);



}



        </script>
  {% endblock %}
    <form name="f" action="/ajoutcat" class="form-horizontal"  method="POST" >


    <div class="container" style="margin-top: 5%;">


        <input type="button" id="btnAdd" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal" value="Ajouter" />
        <input type="button" id="btnModif" disabled="false" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModalm" value="Modifier" />
        <input type="button" id="btnSupp" disabled="false" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModalSupp" value="Supprimer" />

        <input type="text" id="rech" style="height: 40px" placeholder="Rechercher.." /><br/><br/>
        <div class="panel panel-default">
        <table class="table table-hover" id="tab" style="background-color:white ;">
            <thead >
            <tr>
                <th>Nom Catégorie</th>
            </tr>
            </thead>
            <tbody>


            {% if cat is defined %}
                {% for c in cat %}
                    {% if cat is defined %}
                        {% if c.parentid==0 %}
                    <tr class="clickable-row" id="row" data-value="{{ c.id }}">
                         <th >{{ c.nom }}</th>
                        {% for a in cat %}
                            {% if a.id==c.parentid %}
                            <th><i>{{ a.nom }}</i></th>

                            {% endif %}
                        {% endfor %}
                    </tr>
                            {% for b in cat %}
                                {% if c.id==b.parentid %}
                                    <tr class="clickable-row" id="row" data-value="{{ b.id }}">
                                        <td >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{b.nom }}</td>

                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if error is defined %}
                <th>{{ error }}</th>
            {% endif %}


            </tbody>
        </table>
        </div>
    </div>

<!---------------------------------------MODAL Supp----------------------------------------->
    <div id="myModalSupp" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Voulez vous vraiment Supprimer Cette Catégorie ?</h4>
                </div>
                <div class="modal-body">
                    <div style="width: 30%; display: flex;margin-left: 35%">


                        <a id="btnConfirm" onclick="act()" class="btn btn-danger btn-block btn-md" style="margin: 1%" >Supprimer</a>
                    <input type="button" id="btnCancel"  value="Annuler" class="btn btn-default btn-block btn-md" data-dismiss="modal" style="margin: 1%" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>

    </div>

                <!---------------------------------MODAL D AJOUT--------------------------------------------------------->
    <!-- Modal -->


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="tit" >Ajouter Catégorie</h4>
                </div>
                <div class="modal-body">

                    <p>Nom </p>
                    <input type="text" onkeyup="" class="form-control" id="nomCat" name="nom" required/>

                    <p>Parent </p>

                    <div  class="form-group" style="margin: auto">

                        <select class="form-control"  id="sel1" name="parent">
                            <option value="0">
                                None
                            </option>

                            {% if cat is defined %}
                                {% for c in cat %}
                                    {% if cat is defined %}
                                        {% if c.parentid==0 %}
                                        <option  value="{{ c.id }}">
                                            {{ c.nom }}

                                        </option>
                                            {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if error is defined %}
                                {{ error }}
                            {% endif %}



                        </select>

                    </div>
                    <div class="modal-footer">

                        <input type="submit" id="btnAjt" value="Ajouter" class="btn btn-success btn-block" /><br/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>



</form>
    <!----------------------------Modal Modifier---------------------------------------------->
    <form name="f2" id="f2"  method="POST" action="">
        <div id="myModalm" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="tit" >Modifier Catégorie</h4>
                    </div>
                    <div class="modal-body">

                        <p>Nom </p>
                        <input type="text" onkeyup="inputValidV2()" class="form-control" id="mnomCat" name="nom" required/>

                        <p>Parent </p>

                        <div  class="form-group" style="margin: auto">

                            <select class="form-control" id="msel1" name="parent">
                                <option value="0">
                                    None
                                </option>
                                {% if cat is defined %}
                                    {% for c in cat %}
                                        {% if cat is defined %}
                                            {% if c.parentid==0 %}
                                                <option  value="{{ c.id }}">
                                                    {{ c.nom }}

                                                </option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if error is defined %}
                                    {{ error }}
                                {% endif %}
                            </select>

                        </div>
                        <div class="modal-footer">

                            <button type="submit"  id="mbtnAjt" onclick="act2()" value="Modifier" class="btn btn-success btn-block" >Modifier</button><br/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
{% endblock %}
