

    {% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href= "{{ asset ('bundles/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="{{ asset ('bundles/bootstrap/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('bundles/Style/styles.css') }}">
    <link rel="stylesheet" href="{{ asset ('bundles/Style/Pretty-Header.css') }}">
    <link rel="stylesheet" href="{{ asset ('bundles/Style/Pretty-Footer.css') }}">
    <link rel="stylesheet" href="{{ asset ('bundles/Style/Stylelstarticle.css') }}">
        <link rel="icon" href="{{ asset('bundles/images/Slogo.png') }}">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
    {% endblock %}
{% block javascript %}

    <script src="{{ asset('bundles/bootstrap/js/jquery.js') }}" ></script>

    <script src="{{ asset('bundles/bootstrap/js/bootstrap.min.js') }}" ></script>
    <script type="text/javascript">
    $(document).ready(function () {

        alert("test");

        var col=3;
        var $table = document.getElementById("tab");

        var tabArt=[];
             {% for c in art %}
                  {% if art is defined %}
        var article={
            nom:{{ c.nom }},
            prix:{{ c.prix }}
        }
        tabArt.push(article);

              {% endif %}
              {% endfor %}


        alert(tabArt);

        for (var i=0;i<tabArt.length/col;i++) {
            var $row = $table.find("tbody").append("<tr />").children("tr:eq(" + i + ")");
            for (var k = 0; k < 3; k++) {
                $row.append("<td>tabArt[i*col+ k].nom <td />");
            }
        }
    });

    function ajtP(id) {
        alert(id);
        alert("test");
    }



    </script>


{% endblock %}
    {% block body %}
<body>
<img src="bundles/images/sebcomLogo.png" style="display:block;margin:auto;margin-top: 1%">
<nav class="navbar navbar-default custom-header" style="height:13%;margin-top: 1%" >
    <div class="container-fluid">
        <div class="navbar-header"><a href="/home" class="navbar-brand navbar-link">Seb<span>Com </span> </a>
            <button data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav links" >
                <li role="presentation"><a href="/home">Home </a></li>
                <li role="presentation"><a href="#">Services </a></li>
                <li role="presentation"><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"><a class="btn btn-danger" style="width: 40px;height: 40px" data-toggle="modal" data-target="#mConnect" href="#">
                    <span class="fa fa-user fa-2x" style="margin-left: -4px"></span></a></ul>
        </div>
    </div>
</nav>
<div class="dropdown btn btn-default" style="z-index: 21;position:fixed;right:100px" >
    <a href="#" data-toggle="dropdown" class="dropdown-toggle" ><span class="glyphicon glyphicon-shopping-cart"></span></a>

    <ul class="dropdown-menu dropdown-menu-right">
        <div class="container" style="width:500px">
            <form>
                <label>Article : </label><input value="1" type="number" class="input input-sm " min="1" max="10"  id="quantity" /><br>
                <label id="prixTot">Prix Total :</label> <label class="label label-warning"> 10</label><br>
                <input type="submit" value="Valider" class="btn btn-primary btn-sm"/> <input type="reset" value="Vider" class="btn btn-danger btn-sm"/>

            </form>
        </div>
    </ul>
</div>
<div>
    <div class="row bare_rech" style="display: flex; margin: 3%">
        <div class="col-md-3"><h2 class="text-center"><strong class="label label-default">Mots clés:</strong></h2></div>
        <div class="col-md-3">
            <input style="margin-top: 22px;" class="form-control" type="text">
        </div>
        <div class="col-md-3"><h2 class="text-center"><strong class="label label-default">Prix: </strong></h2></div>
        <div class="col-md-2">
            <script type="text/javascript">
                $("#ex2").slider({});
            </script>
            <input style="margin-top: 32px;" id="ex2" type="range" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
        </div>
    </div>
</div>
<div>
    <div class="row prod">
        {% if art is defined %}

            {% for c in art %}
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12" ><img src="bundles/images/{{ c.image }}" height="150" width="110"></div>
            </div>
            <div class="row">
                <div class="col-md-12 prod" id="{{ c.id }}"><strong>{{ c.nom }}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-12" id="{{ c.id }}">
                    <strong>{{ c.prix }} DT</strong>
                    <button class="panierstyle"  id="{{ c.id }}" onclick="ajtP(this.id)"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"  id="{{ c.id }}" onclick=ajtP(this.id)></i></button>
                </div>
            </div>
        </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div>

    <table class="table" id="tab">
        <tbody>


        </tbody>

    </table>

</div>
{% block footer %}
<footer>
    <div class="row">
        <div class="col-md-4 col-sm-6 footer-navigation">
            <h3><a href="#">Seb<span>Com </span></a></h3>
            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Services</a><strong> · </strong><a href="#">Contact</a></p>
            <p class="company-name">Sebcom © 2017 </p>
        </div>
        <div class="col-md-4 col-sm-6 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Rue du metal</span> Charguia, Ariana</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +216 21 847 072</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">karim.tebini@company.com</a></p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 footer-about">
            <h4>A propos de la sociète</h4>
            <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
        </div>
            <div class="social-links social-icons"><a href="https://www.facebook.com/electrobennour/" target = "_blank"><i class="fa fa-facebook" style="margin-top:7px"></i></a><a href="https://twitter.com/"target = "_blank"><i class="fa fa-twitter" style="margin-top:7px"></i></a><a href="https://www.linkedin.com" target = "_blank"><i class="fa fa-linkedin" style="margin-top:7px"></i></a><a href="https://www.github.com" target = "_blank"><i class="fa fa-github" style="margin-top:7px"></i></a></div>
    </div>
    </div>
</footer>
{% endblock %}
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
{% endblock %}
