
{% extends 'navbar.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/Style/StyleFileAjoutArticle.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/Style/StyleFileAjoutCat.css') }}">
{% endblock %}

{% block body %}


    <form name="f" action="/modifierarticle/{{ id }}" class="form-horizontal" method="POST">
        <div class="container" style="margin-top: 5%">

            <div class="panel panel-default" style="background-color:white">
                <div class="panel-heading">Ajout Article</div>
                <div class="panel-body">



                    <p>Titre </p>

                    <input type="text" onkeyup="" class="form-control" id="titreArt" name="nom" value="{{ artname }}"/>
                    <p>Catégorie </p>
                    <div  class="form-group" style="width: 100%; margin-left: 0%">

                        <select class="form-control" id="sel1" name="categorie">
                            <option value="0">
                                None
                            </option>
                            {% if cat is defined %}
                                {% for c in cat %}
                                    <option value="{{ c.nom }}">
                                        {% if cat is defined %}
                                            <th>{{ c.nom }}</th>
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            {% endif %}
                            <!-- other options mel base de donnée : code symfony -->
                        </select>

                    </div><br/>

                    <p>Description</p>
                    <textarea class="form-control" rows="5" id="descArt" name="description">{{ artdescription }}</textarea><br/>

                    <p>Prix</p>

                    <input type="text" onkeyup="" placeholder="..DT" class="form-control" id="prixArt" name="prix" value="{{ artprix }}" /><br/>
                    <p>Images</p><br/>

                    <div class="form-group">
                        <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        Browse… <input type="file" id="imgArt" name="image" value="{{ artimage }}">
                                    </span>
                                </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <img id='img-upload'/>
                    </div>
                    <p>Quantité</p>

                    <input type="number" onkeyup="" style="width:10%;" class="form-control" id="qteArt" name="quantite" value="{{ artquantite }}" min="1"/>
                    <br/>

                    <input type="submit" id="btnAjt"  value="Modifier" class="btn btn-success btn-block" /><br/>
                </div>


            </div>
            <br/>

            <br/>




        </div>
    </form>
{% endblock %}
