{% extends 'navbar.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/Style/StyleFileAjoutCat.css') }}">
    <style type="text/css">

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {

            background-color: lightgray;
        }
    </style>
{% endblock %}
{% block body %}


    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/js/InputTest.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/js/pageFunctions.js')}}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bootstrap/locales/bootstrap-datepicker.fr.min.js')}}"></script>

        <script type="text/javascript">

            var regex = new RegExp(/([^A-Za-z0-9\-_.])/);

            $(document).ready(function() {





                $("#btnModif").click(function(){


                    var rowValues=[];

                    $('.bg-primary').children().each(function() {

                        var val = $(this).html();
                        rowValues.push(val);


                    });

                    $('#mnomCat').val(rowValues[0]);
                    $('#msel1').val(rowValues[1]);


                });



            });
        $(function () {
            $('#sandbox-container div').datepicker({
                todayBtn: "linked",
                language: "fr",
                daysOfWeekHighlighted: "0",
                todayHighlight: true
            });
        })


            function act()
            {


                var url='{{ path("categorie_delete", {'id':'rowVal' }) }}';

                url = url.replace("rowVal", rowId);

                document.getElementById("btnConfirm").setAttribute("href",url);

            }

            function act2()
            {


                var url='{{ path("categorie_modifier", {'id':'rowVal' }) }}';

                url = url.replace("rowVal", rowId);

                document.getElementById("mbtnAjt").setAttribute("href",url);

                /*** action ***/
                var act='/modifiercat/rowVal';

                act=act.replace("rowVal", rowId);

                document.getElementById("f2").setAttribute("action",act);



            }



        </script>
    {% endblock %}
    <form name="f" action="/ajoutcat" class="form-horizontal"  method="POST" >


        <div class="container" style="margin-top: 5%;">


            <input type="button" id="btnAdd" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal" value="Ajouter" />
            <input type="button" id="btnModif" disabled="false" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModalm" value="Modifier" />
            <input type="button" id="btnSupp" disabled="false" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModalSupp" value="Supprimer" />

            <input type="text" id="rech" style="height: 40px" placeholder="Search.." /><br/><br/>
            <div class="panel panel-default">
                <table class="table table-hover" id="tab" style="background-color:#f2f2f2 ;">
                    <thead >
                    <tr>
                        <th>Nom Promotion</th>
                        <th>Parent</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% if cat is defined %}
                        {% for c in cat %}
                            {% if cat is defined %}
                                <tr class="clickable-row" id="row" data-value="{{ c.id }}">
                                    <td >{{ c.nom }}</td>
                                    <td >{{ c.parentid }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if error is defined %}
                        <th>{{ error }}</th>
                    {% endif %}


                    </tbody>
                </table>
            </div>
        </div>

        <!---------------------------------------MODAL Supp----------------------------------------->
        <div id="myModalSupp" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Voulez vous vraiment Supprimer Cette Promotion ?</h4>
                    </div>
                    <div class="modal-body">
                        <div style="width: 30%; display: flex;margin-left: 35%">


                            <a id="btnConfirm" onclick="act()" class="btn btn-danger btn-block btn-md" style="margin: 1%" >Supprimer</a>
                            <input type="button" id="btnCancel"  value="Annuler" class="btn btn-default btn-block btn-md" data-dismiss="modal" style="margin: 1%" />

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>

        <!---------------------------------MODAL D AJOUT--------------------------------------------------------->
        <!-- Modal -->


        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="tit" >Ajouter Promotion</h4>
                    </div>
                    <div class="modal-body">

                        <form>
                            <label for="CodeProm">Code Promotion :</label>
                        <input type="text" onkeyup="" class="form-control" id="CodeProm" name="code" required/></br>

                            <label for="titreProm">Titre Promotion :</label>
                        <input type="text" onkeyup="" class="form-control" id="titreProm" name="code" required/></br>

                            <label for="dateDeb">Date Début :</label>

                            <input type="date" id="dateFin"/></br>

                            <label for="dateFin">Date Fin :</label>
                        <input type="date" id="dateFin"/></br>
                            <label for="taux">Taux de réduction :</label>
                            <input type="text" onkeyup="" class="form-control" id="taux" name="taux" placeholder="%" required/></br>

                        <div class="modal-footer">

                            <input type="submit" id="btnAjt" value="Ajouter" class="btn btn-success btn-block" /><br/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>



    </form>
    <!----------------------------Modal Modifier---------------------------------------------->
    <form name="f2" id="f2"  method="POST" action="">
        <div id="myModalm" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="tit" >Modifier Promotion</h4>
                    </div>
                    <div class="modal-body">

                        <form>
                            <label for="CodeProm">Code Promotion :</label>
                            <input type="text" onkeyup="" class="form-control" id="CodeProm" name="code" required/></br>

                            <label for="titreProm">Titre Promotion :</label>
                            <input type="text" onkeyup="" class="form-control" id="titreProm" name="code" required/></br>
                            <label for="dateDeb">Date Début :</label>
                            <input type="date" id="dateDeb"/>
                            <label for="dateFin">Date Fin :</label>
                            <input type="date" id="dateFin"/></br>
                            <label for="taux">Taux de réduction :</label>
                            <input type="text" onkeyup="" class="form-control" id="taux" name="taux" placeholder="%" required/></br>

                            <div class="modal-footer">

                                <input type="submit" id="btnAjt" value="Ajouter" class="btn btn-success btn-block" /><br/>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </form>
{% endblock %}
